<!-- NED USED A PARTIAL FOR THIS -->
<!-- SEE NED'S FORM PARTIAL HELPER -->
<!-- PASS IN THE POST TITLE AND BODY WHEN YOU CALL FOR THE PARTIAL -->

<h1>New Post</h1>
<form action="<%= posts_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<!-- DONT SET THE CURRENT USER ID HERE. SET IT IN THE CONTROLLER IN THE "CREATE" METHOD OR ELSE THEYLL FUCK WITH YOU -->
	<input type="hidden" name="post[user_id]" value="<%= @current_user.id %>">
	<label for="post_title">Title</label>
	<input type="text" name="post[title]" id="post_title" value="<%= @post.title if @post %>">
	<br>
	<label for="post_body">Body</label>
	<input type="text" name="post[body]" id="post_body" value="<%= @post.body if @post %>">
	<br>
	<input type="submit" value="Create New Post">
</form>