<h3><%= entry.escape('title') %></h3>
<b>URL:</b><a href="<%= entry.escape("link") %>">
<%= entry.escape("link") %></a>
<br>
<b>Published:</b><%= entry.escape("published_at") %>
<br>
<%= entry.escape("title") %>
<br>