<%= File.read("./app/views/secrets/_tag_select.html").html_safe %>

<%= form_for secret, :remote => true, :html => {:class => "SecretForm"} do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.collection_select :recipient_id, User.all, :id, :username%>

	<div id="tags">
	<%= f.fields_for :tag_ids do |t| %>
		<%= t.collection_select nil, Tag.all, :id, :name, {}, {:class => "tagsselect" }  %>
	<% end %>
	</div>
	<button id="addTag" href="#">+</button>
	<%= f.submit %>
<% end %>

<script type="application/json" id="tags_json">
	<%= Tag.all.to_json.html_safe %>
</script>

<script type="text/javascript">
	$('#addTag').on('click', function() {
		var template_code = $('#tag_select').html();

		var template_fn   = _.template(template_code);
		var rendered_content = template_fn();
		$('#tags').append(rendered_content);
		return false;
	});
</script>

