<!DOCTYPE html>
<html>
<head>
  <title>PhotoTagger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<form action="<%= session_url %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Log-out">
</form>
</body>
</html>
