<h1><%= @post.title %></h1>

<p>
  <%= @post.user.username %>
</p>

<pre>
  <%= @post.body %>
</pre>

<%= link_to "Edit Post", edit_post_url(@post) %>

<ul>
  <% @post.tags.each do |tag| %>
  <li>
    <%= tag.name %>
    --
    <%= button_to "Remove Tag", tag_url(tag), :method => :delete %>
  </li>
  <% end %>
</ul>

<h2>Add Tag</h2>
<form action="<%= tags_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="tag_name">Tag Name</label>
  <input type="text" name="tag[name]" id="tag_name">
  
  <!-- probably we would want to use a nested route... -->
  <input type="hidden" name="tag[post_id]" value="<%= @post.id %>">
  
  <input type="submit" value="Add Tag">
</form>
