<!DOCTYPE html>
<html>
<head>
  <title>SessionsTemplate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="errors">
    <% flash[:errors].try(:each) do |error| %>
      <%= error %>
    <% end %>
  </div>
  <%= yield %>


  <div>
    <%= button_to "Logout", session_path, :method => "delete" %>
    Current User: <%= current_user %>
    Session Token: <%= session[:session_token] %>
  </div>
</body>
</html>
